@charset "UTF-8";
* {
  position: relative;
  font-family: 微軟正黑體;
  vertical-align: top;
}

body, html {
  padding: 0;
  margin: 0;
  background-color: #f3f3f1;
}

.navbar {
  height: 400px;
  background: linear-gradient(-45deg, #FFE18D 10%, #FFE18D 10%, #FFDA71 10%, #FFDA71 40%, #FFE18D 40%, #FFE18D 60%, #FFDA71 60%, #FFDA71 90%, #FFE18D 90%, #FFE18D 100%);
  background-size: 46px 46px;
  width: 100%;
}
.navbar .center {
  background-color: white;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  padding: 15px;
}
.navbar .center img {
  width: 90%;
  min-width: 800px;
}

#app {
  max-width: 1224px;
  margin-left: auto;
  margin-right: auto;
}

.classbox {
  display: inline-block;
  width: 260px;
  margin: 30px 15px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
  color: #4F4C4B;
  cursor: pointer;
}
.classbox:hover .btn {
  bottom: 15px;
}
.classbox:hover .classpicture {
  transform: scale(1.2);
}
.classbox .teacher {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  position: absolute;
  left: 15px;
  top: -27.5px;
  background-image: url("https://hahow.in/images/57ab3d5585b097070042067a");
  background-size: cover;
  border: solid 2px white;
  z-index: 9;
}
.classbox .top {
  height: 160px;
  overflow: hidden;
}
.classbox .top .classpicture {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("https://hahow.in/images/574fab4f206cd60900c52a67?width=300");
  background-size: cover;
  border-radius: 5px 5px 0px 0px;
  transition: 0.5s;
}
.classbox .top .badge {
  transform: translateX(95px) translateY(15px) rotate(45deg);
  text-align: center;
  padding: 5px 0px;
  background-color: #EB5E00;
  color: white;
  font-weight: 700;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
}
.classbox .btn {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 15px;
  bottom: -50px;
  border-radius: 100%;
  background-color: #fff;
  color: #EB5E00;
  cursor: pointer;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
  transition: bottom 0.3s;
}
.classbox .btn i {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
}
.classbox .btn:hover {
  background-color: #EB5E00;
  color: white;
}
.classbox .bottom {
  height: 184px;
  padding: 15px;
}
.classbox .bottom .title {
  margin-top: 0px;
  font-size: 25px;
  height: 65px;
}
.classbox .bottom .infos {
  font-size: 15px;
  letter-spacing: 1px;
}
.classbox .bottom .infos .orange {
  padding-left: 5px;
  color: #FA8B00;
}
.classbox .bottom .pricerow {
  height: 22px;
  margin-bottom: 10px;
}
.classbox .bottom .pricerow .lastday {
  position: absolute;
  top: 0;
  right: 0;
}
.classbox .bottom .progressBar {
  height: 10px;
  margin-bottom: 10px;
  background-color: #e0e0db;
  border-radius: 5px;
  overflow: hidden;
}
.classbox .bottom .progressBar .valuebar {
  height: 100%;
  width: 150px;
  background-color: #FA8B00;
}
.classbox .bottom .nowpeople {
  text-align: center;
}
.classbox .bottom .orangebar {
  height: 5px;
  width: 100%;
  background-color: #FA8B00;
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-radius: 0px 0px 5px 5px;
}